@using System.Configuration
@using Code2012Survey
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>@LocalizeText.SiteTitle</title>
    
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
    <!-- Le styles -->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <style>
    body
    {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
    </style>
    <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="brand active" href="@Url.Content("~")">@LocalizeText.SiteTitle</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="http://codejapan.jp/" target="_blank">@LocalizeText.JumpToCode201OfficialSite</a></li>
                    </ul>
                    <ul class="nav">
                        <li><a href="@ConfigurationManager.AppSettings["UrlOfAPI"]" target="_blank">API</a></li>
                    </ul>
                    <ul class="nav">
                        <li><a href="http://devadjust.exblog.jp/16304882/" target="_blank">@LocalizeText.AboutThisSurvey</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="main container">
        @RenderBody()
    </div>

    <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                Source code is available via 
                <a href="https://github.com/jsakamoto/code2012survey" target="_blank" class="link-codeplex">
                    <img src="https://github.com/favicon.ico" alt="GitHub" width="16" height="16" />
                    <span>GitHub</span>
                </a>, 
                and Powered by 
                <a href="http://www.ruby-lang.org/ja/" target="_blank">
                    <img src="http://www.ruby-lang.org/favicon.ico" alt="Ruby" width="16" height="16" />
                    <span>Ruby</span>
                </a>
                on
                <a href="http://rubyonrails.org/" target="_blank">
                    <span>Rails</span>
                </a>
                x
                <a href="http://www.heroku.com/" target="_blank">
                    <img src="https://nav.heroku.com/images/logos/favicon.ico" alt="heroku" width="16" height="16" />
                    <span>heroku</span>
                </a>
                x
                <a href="http://www.asp.net/" target="_blank">
                    <img src="http://www.asp.net/favicon.ico" alt="ASP.NET" width="16" height="16" />
                    <span>ASP.NET</span>
                </a>
                x
                <a href="https://www.windowsazure.com/" target="_blank">
                    <img src="https://www.windowsazure.com/favicon.ico" alt="Windows Azure" width="16" height="16" />
                    <span>Windows Azure "Web Sites"</span>
                </a>
                x
                <a href="https://appharbor.com/" target="_blank">
                    <img src="https://appharbor.com/favicon.ico" alt="AppHarbor" width="16" height="16" />
                    <span>AppHarbor</span>
                </a>
                .
            </div>
        </div>
    </div>

    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
</body>
</html>
