@model Code2012Survey.Models.SurveyReply
@using Code2012Survey
@using Code2012Survey.Models
@{
    ViewBag.Title = "Confirm";
}

<div class="alert">
<p>@LocalizeText.ConfirmPrompt</p>
</div>

@using (Html.BeginForm("Confirm", "Survey", FormMethod.Post, new { @class = "form-vertical" }))
{
    @Html.HiddenFor(m => m.Choice1OfQ1)
    @Html.HiddenFor(m => m.Choice2OfQ1)
    @Html.HiddenFor(m => m.Choice3OfQ1)
    @Html.HiddenFor(m => m.Choice4OfQ1)
    @Html.HiddenFor(m => m.Choice5OfQ1)
    @Html.HiddenFor(m => m.Choice6OfQ1)
    @Html.HiddenFor(m => m.CodingForYears)
    @Html.HiddenFor(m => m.Address)
    @Html.HiddenFor(m => m.Comment)

    <h3>Q1. @LocalizeText.CaptionQ1</h3>

    <div class="checkbox">@Html.DisplayFor(m => m.Choice1OfQ1) @Html.LabelFor(m => m.Choice1OfQ1)</div>
    <div class="checkbox">@Html.DisplayFor(m => m.Choice2OfQ1) @Html.LabelFor(m => m.Choice2OfQ1)</div>
    <div class="checkbox">@Html.DisplayFor(m => m.Choice3OfQ1) @Html.LabelFor(m => m.Choice3OfQ1)</div>
    <div class="checkbox">@Html.DisplayFor(m => m.Choice4OfQ1) @Html.LabelFor(m => m.Choice4OfQ1)</div>
    <div class="checkbox">@Html.DisplayFor(m => m.Choice5OfQ1) @Html.LabelFor(m => m.Choice5OfQ1)</div>
    <div class="checkbox">@Html.DisplayFor(m => m.Choice6OfQ1) @Html.LabelFor(m => m.Choice6OfQ1)</div>

    <h3>Q2. @LocalizeText.CaptionQ2</h3>

    <div>@Html.DisplayFor(m => m.CodingForYears) @LocalizeText.UnitOfYears</div>

    <h3>Q3. @LocalizeText.CaptionQ3</h3>
    <div>@Html.DisplayFor(m => m.Address)</div>
    
    <h3>Q4. @LocalizeText.CaptionQ4</h3>
    <div>@Html.DisplayFor(m => m.Comment)</div>

    <div class="alert alert-info">
        <p>
        @LocalizeText.Notice
        </p>
        <div class="checkbox">
            <input type="checkbox" name="cb-accept" id="cb-accept" value="On" /><label for="cb-accept">@LocalizeText.AcceptNotice</label>
        </div>
    </div>
    
    <div class="form-actions">
        <input type="submit" name="goback" id="btn-goback" value="@LocalizeText.GoBack" class="btn btn-large"/>
        <input type="submit" name="gonext" id="btn-gonext" value="@LocalizeText.Post" class="btn btn-disabled btn-large" disabled="disabled"/>
    </div>
}

<script type="text/javascript">
    $('#btn-goback').click(function () {
        $(this).closest('form').attr('action', '@Url.Action("Index")');
    });
    $('#btn-gonext').click(function () {
        $(this).closest('form').attr('action', '@Url.Action("Commit")');
    });
    $('#cb-accept').click(function () {
        var checked = $(this).attr('checked');
        $('#btn-gonext')
            .toggleClass("btn-primary", checked)
            .toggleClass("btn-disabled", checked);
        if (checked) $('#btn-gonext').removeAttr("disabled");
        else $('#btn-gonext').attr("disabled", "disabled");

    });
</script>
