@model Code2012Survey.Models.SurveyReply
@using Code2012Survey
@using Code2012Survey.Models
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Confirm", "Survey", FormMethod.Post, new { @class = "form-vertical" }))
{

    <h3>Q1. @LocalizeText.CaptionQ1</h3>

    
    <div class="checkbox">@Html.CheckBoxFor(m => m.Choice1OfQ1) @Html.LabelFor(m => m.Choice1OfQ1)</div>
    <div class="checkbox">@Html.CheckBoxFor(m => m.Choice2OfQ1) @Html.LabelFor(m => m.Choice2OfQ1)</div>
    <div class="checkbox">@Html.CheckBoxFor(m => m.Choice3OfQ1) @Html.LabelFor(m => m.Choice3OfQ1)</div>
    <div class="checkbox">@Html.CheckBoxFor(m => m.Choice4OfQ1) @Html.LabelFor(m => m.Choice4OfQ1)</div>
    <div class="checkbox">@Html.CheckBoxFor(m => m.Choice5OfQ1) @Html.LabelFor(m => m.Choice5OfQ1)</div>
    <div class="checkbox">@Html.CheckBoxFor(m => m.Choice6OfQ1) @Html.LabelFor(m => m.Choice6OfQ1)</div>

    <h3>Q2. @LocalizeText.CaptionQ2</h3>

    <div>@Html.TextBoxFor(m => m.CodingForYears, new {@class="input-small" }) @LocalizeText.UnitOfYears</div>

    <h3>Q3. @LocalizeText.CaptionQ3</h3>
    <div>@Html.TextBoxFor(m => m.Address)</div>
    
    <h3>Q4. @LocalizeText.CaptionQ4</h3>
    <div>@Html.TextAreaFor(m => m.Comment, new {@class = "input-xxlarge"})</div>

    <div class="form-actions">
        <input type="submit" name="gonext" value="@LocalizeText.GoNext" class="btn btn-primary btn-large"/>
    </div>

}